@if(Session["username"]!=null)
{
<ul class="nav navbar-nav navbar-right">
    <li>
        @Html.ActionLink("Hello...Welcome User " + @Session["username"] + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
    </li>
    @*<li><a href="javascript:document.getElementById('logoutForm').submit()">Log off...Bye</a></li>*@
    <li>@Html.ActionLink("Log Off", "Logoff","Login")</li>
</ul>
    
}
else
{
<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Register", "Register", "Login", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink("Log in", "MyLogin", "Login", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
</ul>
}