@model FINAL_PROJECT_Tome_Books_.Models.BookDetail

@{
    ViewBag.Title = "DisplayBooks";
}

<h2>DisplayBooks</h2>



<head>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .container1 {
            width: 280px;
            height: 500px;
            margin: 60px auto;
            margin-left: 100px;
        }

        .card {
            border-radius: 25px;
            box-shadow: -11px 11px 1px rgba(0,0,0,0.3);
            background-image: linear-gradient(to right, #2f639e, #27a390);
        }

        .card-head {
            position: relative;
            height: 25px;
            border-radius: 25px 25px 0 0;
        }

        .product-img {
            height: 200px;
            width: 150px;
            position: absolute;
            left: 0;
            margin-top: 70px;
            margin-left: 150px;
            box-shadow: -8px 8px 1px rgba(0,0,0,0.5);
            border-radius: 4px;
        }

        .product-detail {
            padding: 0 20px;
            font-size: 11px;
            color: #fff;
        }

            .product-detail h2 {
                margin-top: 40px;
                font-size: 20px;
                font-weight: 900;
                letter-spacing: 2px;
                padding-bottom: 10px;
                text-transform: uppercase;
                font-family: ubuntu;
                margin-top: 10px;
            }

        .back-text {
            display: inline-block;
            font-size: 125px;
            font-weight: 900;
            margin-left: -7px;
            margin-top: -12px;
            opacity: 0.1;
        }

        .card-body {
            margin-top: 250px;
            height: 255px;
            background: #fff;
            border-radius: 0 0 25px 25px;
        }

        .product-title {
            padding: 20px 20px 5px 20px;
            display: block;
            font-size: 17px;
            font-weight: 500;
            letter-spacing: 1px;
            text-transform: uppercase;
        }

            .product-title b {
                font-weight: 900;
                letter-spacing: 0px;
            }

        .badge {
            position: relative;
            font-size: 10px;
            font-weight: 300;
            color: #fff;
            background: #11e95b;
            padding: 2px 5px;
            border-radius: 4px;
            top: -2px;
            margin-left: 5px;
        }

        .product-caption {
            display: block;
            padding: 0 20px;
            font-size: 10px;
            font-weight: 400;
            text-transform: uppercase;
        }

        .product-rating {
            padding: 0 20px;
            font-size: 11px;
            color: forestgreen;
        }

            .product-rating i.gray {
                color: #acacab;
            }

        .product-quantity h4 {
            font-size: 11px;
            padding: 0 21px;
            margin-top: 15px;
            padding-left: 10px;
            text-transform: uppercase;
        }

        .ul-qty {
            margin-left: 15px;
        }

            .ul-qty li {
                list-style: none;
                float: left;
                margin-right: 20px;
            }

                .ul-qty li a {
                    display: inline-block;
                    text-decoration: none;
                    font-size: 11px;
                    width: 22px;
                    height: 22px;
                    border-radius: 100%;
                    text-align: center;
                    line-height: 23px;
                    color: #000;
                }

                    .ul-qty li a.active1 {
                        background: #f35e3d;
                        color: #fff;
                    }

        .product-quantity::before, .product-quantity::after {
            content: "";
            display: block;
            clear: both;
        }


        .product-price {
            position: absolute;
            background: #11e95b;
            padding: 7px 20px;
            text-align: center;
            display: inline-block;
            font-size: 24px;
            font-weight: 200;
            color: #fff;
            border-radius: 5px;
            margin-top: 25px;
            margin-left: -5px;
            box-shadow: -5px 5px 1px rgba(0,0,0,0.5);
        }

            .product-price b {
                margin-left: 5px;
            }

        .checked {
            color: orange;
        }

        .rate {
            margin-left: 18px;
            margin-top: 5px;
        }

        .button {
            display: inline-block;
            border-radius: 10px;
            background-color: #f4511e;
            border: none;
            color: #FFFFFF;
            text-align: center;
            font-size: 15px;
            padding: 15px;
            width: 150px;
            height: 50px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
            margin-top: 100px;
            font-family: ubuntu;
            margin-left: 60px;
        }

            .button span {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.5s;
            }

                .button span:after {
                    content: '\00bb';
                    position: absolute;
                    opacity: 0;
                    top: 0;
                    right: -20px;
                    transition: 0.5s;
                }

            .button:hover span {
                padding-right: 25px;
            }

                .button:hover span:after {
                    opacity: 1;
                    right: 0;
                }

        .column {
            float: left;
            width: 25%;
            padding: 0 10px;
        }

        /* Remove extra left and right margins, due to padding */
        .row {
            position: absolute;
            margin: 0 auto;
        }

            /* Clear floats after the columns */
            .row:after {
                content: "";
                display: table;
                clear: both;
            }
    </style>


</head>
<body>

</body>

<div class="row">
    @foreach (var item in Model)
    {
        // <a href="~/Home/Index">
        <div class="column">
            <a href="~/DisplayProducts/DisplayBookDetails/?BookID=10">
                <div class="container1">
                    <div class="card">

                        <div class="card-head">
                            <img src="@Html.DisplayFor(model => item.photoPath)" alt="book" class="product-img" />
                            @*@Html.DisplayFor(model => item.photoPath)*@
                            <div class="product-detail">


                                <h2> <b>  @Html.DisplayFor(modelItem => item.bookName)</b></h2>
                                @*<h2><b>PRIVATE INDIA</b></h2>*@


                                @*"A thrill-a-minute, plot-driven story full of twists and turns.."*@
                                @Html.DisplayFor(model => item.description)
                            </div>
                            <span class="back-text">
                                JP
                            </span>
                        </div>
                        <div class="card-body">
                            <div class="prod-desc">
                                <span class="product-title">


                                    @*<b> PRIVATE INDIA</b>*@
                                    <b>  @Html.DisplayFor(modelItem => item.bookName)</b>

                                    <span class="badge">
                                        NEW
                                    </span>
                                </span>

                                <span class="product-caption">
                                    @*James Patterson*@
                                    @*@Html.DisplayFor(model => item.authorID)*@
                                    @Html.DisplayFor(model => item.Author.authorName)
                                </span>
                                <div class="rate">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                            </div>
                            <div class="product-properties">

                                <span class="product-price">
                                    @Html.DisplayFor(model => item.bookPrice)
                                </span>

                                <button class="button" style="vertical-align:middle"><span> @Html.ActionLink("Add to Cart", "Index", "Home")</span></button>

                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        //   </a>


    }
</div>