@model FINAL_PROJECT_Tome_Books_.Models.User

@{
    ViewBag.Title = "changePassword";
}

<h2>Change Password</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.Label("Old Password", htmlAttributes: new { @class = "login-subTitle", @style = "background-color:black; color: #fe375f; margin-bottom:0px; margin-left:25px;border-radius: 5px;" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "textfield", @style = "background-color: #1c1c1e; color: white ;margin-top:10px; margin-left:25px;border-radius: 5px;", type = "password" } })
            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("New Password", htmlAttributes: new { @class = "login-subTitle", @style = "background-color:black; color: #fe375f; margin-bottom:0px; margin-left:25px;border-radius: 5px;" })
        <div class="col-md-10">
            @Html.Editor("NewPassword", new { htmlAttributes = new { @class = "textfield", @style = "background-color: #1c1c1e; color: white ;margin-top:10px; margin-left:25px;border-radius: 5px;", type = "password" } })
            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Confirm New Password", htmlAttributes: new { @class = "login-subTitle", @style = "background-color:black; color: #fe375f; margin-bottom:0px; margin-left:25px;border-radius: 5px;" })
        <div class="col-md-10">
            @Html.Editor("ConfirmPassword", new { htmlAttributes = new { @class = "textfield", @style = "background-color: #1c1c1e; color: white ;margin-top:10px; margin-left:25px;border-radius: 5px;", type = "password" } })
            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
        </div>
    </div>

    <li><input class="forgot-password-button" style="width: 200px; height:40px; background-color: #fe375f; color: white; font-size: 22px; MARGIN-TOP: 10PX; margin-left:65px;margin-right: 40px;margin-left:130px; border-radius: 5px; border:0px;" type="submit" class="btn btn-default" /></li>


</div>
}
